<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='compare.js')}}"></script>
  <script type="text/javascript">
     compareLockers('{{ lockers_C3 }}')
  </script>
  <title>Casa Loma Buidling C Floor 3</title>
</head>
<body>
  <h2>Casa Loma - Buiding C - Floor 3</h2>
  <div id="building">
    <div id="left-upper">
      <div class="room" id="c302">Office C302</div>
      <div class="room" id="c301">Lab C301</div>
      <div class="room" id="c303">C303</div>
      <div class="room" id="c337">Auditorium C337</div>
      <div class="room" id="wc1">WC</div>
      <div class="room" id="wc2">WC</div>
      <div class="stair" id="stair2">Stair 2</div>
      <div class="lockers-line1">
        <div class="top-lockers1">
          <div class="locker" id="C3001"></div>
          <div class="locker" id="C3003"></div>
          <div class="locker" id="C3005"></div>
          <div class="locker" id="C3007"></div>
          <div class="locker" id="C3009"></div>
          <div class="locker" id="C3011"></div>
          <div class="locker" id="C3013"></div>
          <div class="locker" id="C3015"></div>
          <div class="locker" id="C3017"></div>
          <div class="locker" id="C3019"></div>
          <div class="locker" id="C3021"></div>
          <div class="locker" id="C3023"></div>
          <div class="locker" id="C3025"></div>
          <div class="locker" id="C3027"></div>
          <div class="locker" id="C3029"></div>
          <div class="locker" id="C3031"></div>
          <div class="locker" id="C3033"></div>
          <div class="locker" id="C3035"></div>
          <div class="locker" id="C3037"></div>
          <div class="locker" id="C3039"></div>
          <div class="locker" id="C3041"></div>
          <div class="locker" id="C3043"></div>
        </div>
        <div class="bottom-lockers1">
          <div class="locker" id="C3002"></div>
          <div class="locker" id="C3004"></div>
          <div class="locker" id="C3006"></div>
          <div class="locker" id="C3008"></div>
          <div class="locker" id="C3010"></div>
          <div class="locker" id="C3012"></div>
          <div class="locker" id="C3014"></div>
          <div class="locker" id="C3016"></div>
          <div class="locker" id="C3018"></div>
          <div class="locker" id="C3020"></div>
          <div class="locker" id="C3022"></div>
          <div class="locker" id="C3024"></div>
          <div class="locker" id="C3026"></div>
          <div class="locker" id="C3028"></div>
          <div class="locker" id="C3030"></div>
          <div class="locker" id="C3032"></div>
          <div class="locker" id="C3034"></div>
          <div class="locker" id="C3036"></div>
          <div class="locker" id="C3038"></div>
          <div class="locker" id="C3040"></div>
          <div class="locker" id="C3042"></div>
          <div class="locker" id="C3044"></div>
        </div>
      </div>
    </div>

    <div id="right-upper">
      <div class="room" id="c358">Child Daycare center C358</div>
      <div class="room" id="c330">Library C330</div>
      <div class="lockers-line2">
        <div class="top-lockers2">
          <div class="locker" id="C3045"></div>
          <div class="locker" id="C3047"></div>
          <div class="locker" id="C3049"></div>
          <div class="locker" id="C3051"></div>
          <div class="locker" id="C3053"></div>
          <div class="locker" id="C3055"></div>
          <div class="locker" id="C3057"></div>
          <div class="locker" id="C3059"></div>
          <div class="locker" id="C3061"></div>
        </div>
        <div class="bottom-lockers2">
          <div class="locker" id="C3046"></div>
          <div class="locker" id="C3048"></div>
          <div class="locker" id="C3050"></div>
          <div class="locker" id="C3052"></div>
          <div class="locker" id="C3054"></div>
          <div class="locker" id="C3056"></div>
          <div class="locker" id="C3058"></div>
          <div class="locker" id="C3060"></div>
          <div class="locker" id="C3062"></div>
        </div>
      </div>
    </div>

  <div id="left-bottom">
    <div class="room" id="c304">Lab C304</div>
    <div class="room" id="c305">Lab C305</div>
    <div class="room" id="c317">Student Services Centre C317</div>
    <div class="lockers-line3">
      <div class="top-lockers3">
        <div class="locker" id="C3305"></div>
        <div class="locker" id="C3307"></div>
        <div class="locker" id="C3309"></div>
        <div class="locker" id="C3311"></div>
        <div class="locker" id="C3313"></div>
        <div class="locker" id="C3315"></div>
        <div class="locker" id="C3317"></div>
        <div class="locker" id="C3319"></div>
        <div class="locker" id="C3321"></div>
        <div class="locker" id="C3323"></div>
        <div class="locker" id="C3325"></div>
      </div>
      <div class="bottom-lockers3">
        <div class="locker" id="C3306"></div>
        <div class="locker" id="C3308"></div>
        <div class="locker" id="C3310"></div>
        <div class="locker" id="C3312"></div>
        <div class="locker" id="C3314"></div>
        <div class="locker" id="C3316"></div>
        <div class="locker" id="C3318"></div>
        <div class="locker" id="C3320"></div>
        <div class="locker" id="C3322"></div>
        <div class="locker" id="C3324"></div>
        <div class="locker" id="C3326"></div>
      </div>
    </div>
    <div class="lockers-line4">
      <div class="top-lockers4">
        <div class="locker" id="C3327"></div>
        <div class="locker" id="C3329"></div>
        <div class="locker" id="C3331"></div>
        <div class="locker" id="C3333"></div>
        <div class="locker" id="C3335"></div>
        <div class="locker" id="C3337"></div>
        <div class="locker" id="C3339"></div>
        <div class="locker" id="C3341"></div>
        <div class="locker" id="C3343"></div>
        <div class="locker" id="C3345"></div>
        <div class="locker" id="C3347"></div>
      </div>
      <div class="bottom-lockers4">
        <div class="locker" id="C3328"></div>
        <div class="locker" id="C3330"></div>
        <div class="locker" id="C3332"></div>
        <div class="locker" id="C3334"></div>
        <div class="locker" id="C3336"></div>
        <div class="locker" id="C3338"></div>
        <div class="locker" id="C3340"></div>
        <div class="locker" id="C3342"></div>
        <div class="locker" id="C3344"></div>
        <div class="locker" id="C3346"></div>
        <div class="locker" id="C3348"></div>
      </div>
    </div>
  </div>

    <div id="right-bottom">
      <div class="stair" id="stair1">Stair 1</div>
  </div>
  
</body>
</html>

