body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

#building {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    height: 50%;
    border: 1px solid #333;
}

.room {
    overflow-wrap: break-word;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #70A1D7;  
    border: 1px solid #61677A;
}

.stair {
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #F7F48B;
    border: 1px solid #61677A;
}

.locker {
    overflow-wrap: break-word;
    font-size: 9px;
    height: 8px;
    width: 8px;
    margin: 5px;
    border-radius: 30%;
    display: inline-block;
    font-weight: bold;
    padding: 2px;
    border: 0.5px solid #61677A;
    background-color: #F47C7C;
}

#left-upper {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#c301 {
    grid-column: 1;
    grid-row: 1 / span 3;
}

#c303 {
    grid-column: 1;
    grid-row: 3 / span 4;
}

#c302 {
    grid-column: 2;
    grid-row: 4;
    margin-left: 15%;
}

#c337 {
    grid-column: 4;
    grid-row: 1 / span 4;
}

#wc1 {
    grid-column: 4;
    grid-row: 5;
}

#wc2 {
    grid-column: 3;
    grid-row: 1;
}

#stair2 {
    grid-column: 2;
    grid-row: 1;
}

.lockers-line1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column: 5;
    grid-row: 1 / span 5;
    display: flex;
    align-items: center;
}   


.top-lockers1,
.bottom-lockers1 {
    display: grid;
    grid-template-rows: repeat(9, 1fr); 
}

#right-upper {
    display: grid;
    grid-column: 4;
    grid-row: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#c358{
    grid-column: 5;
    grid-row: 1 / span 2;
}

#c330 {
    margin-left: 10%;
    grid-column: 1/ span 5;
    grid-row: 3 / span 5;
}

.lockers-line2 {
    display: grid;
    grid-template-rows:  1fr 1fr;
    grid-column: 3;
    grid-row: 1 ;
}  

.top-lockers2 {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    display: flex;
    align-items: end;
}

.bottom-lockers2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    display: flex;
    align-items: start;
}



#left-bottom {
    display: grid;
    grid-column: 1/ span 3;
    grid-row: 2 / span 4;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}


#c304 {
    grid-column: 1;
    grid-row: 1 / span 6;
}

#c305 {
    grid-column: 1;
    grid-row: 7 / span 12;
}

#c317 {
    grid-column: 6 / span 12;
    grid-row: 3/ span 12;
}

.lockers-line3 {
    display: grid;
    grid-template-rows:  1fr 1fr;
    grid-column: 10/ span 12;
    grid-row: 2;
}  

.top-lockers3,
.bottom-lockers3 {
    display: grid;
    grid-template-columns: repeat(11, 10.7px);
    display: flex;
    align-items: center;
}


.lockers-line4 {
    display: grid;
    grid-template-rows:  1fr 1fr;
    grid-column: 6/ span 8;
    grid-row: 2;
}  

.top-lockers4,
.bottom-lockers4 {
    display: grid;
    grid-template-columns: repeat(11, 10.7px);
    display: flex;
    align-items: center;
}

#right-bottom {
    display: grid;
    grid-column: 3;
    grid-row: 3;
    grid-template-rows: repeat(4, 1fr);
} 

#stair1 {
    margin-left: 30%;
    grid-row: 1;
}












