<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Locker Map</title>

    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container mt-5">

    <h1>Welcome to Rental Locker Map</h1>
    <h2>Please select your building and floor</h2>
    <div class="list-group">
        <li class="list-group-item">Building C - Floor 1</li>
        <li class="list-group-item">Building C - Floor 2</li>
        <li class="list-group-item"><a href="{{ url_for('C3') }}">Building C - Floor 3</a></li>
        <li class="list-group-item">Building C - Floor 4</li>
        <li class="list-group-item">Building C - Floor 5</li>
        <li class="list-group-item">Building D - Floor 3</li>
    </div>


    <form method="post" action="/fetchdata" class="mt-3">
        <button type="submit" class="btn btn-primary">Get New Data!</button>
    </form>

    <br>
    <div class="footer mt-3">
        <p>Chau Minh Truong </p>
        <p>T177 Computer Programming and Analysis</p>
    </div>

</body>
</html>
