<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/styles.css') }}">
  <title>Casa Loma Buidling C Floor 3</title>
</head>
<body>
  <div id="building">

    <div id="left-upper">
      <div class="room" id="c302">Office C302</div>
      <div class="room" id="c301">Lab C301</div>
      <div class="room" id="c303">C303</div>
      <div class="room" id="c337">Auditorium C337</div>
      <div class="room" id="wc1">WC</div>
      <div class="room" id="wc2">WC</div>
      <div class="stair" id="stair2">Stair 2</div>
      <div class="lockers-line-grid-item lockers-line-flex-box-container">
        <div class="top-lockers">
          <div id="locker1">C3294</div>
          <div id="locker2">C3295</div>
          <div id="locker3">C3296</div>
          <div id="locker4">C3297</div>
          <div id="locker5">C3298</div>
          <div id="locker6">C3299</div>
          <div id="locker7">C3300</div>
          <div id="locker8">C3301</div>
          <div id="locker9">C3302</div>
        </div>
        <div class="bottom-lockers">
          <div id="locker10">C3303</div>
          <div id="locker11">C3304</div>
          <div id="locker12">C3305</div>
          <div id="locker13">C3306</div>
          <div id="locker14">C3307</div>
          <div id="locker15">C3308</div>
          <div id="locker16">C3309</div>
          <div id="locker17">C3310</div>
          <div id="locker18">C3311</div>
        </div>
      </div>
    </div>

    <div id="right-upper">
      <div class="room" id="c358">Child Daycare center C358</div>
      <div class="room" id="c330">Library C330</div>
    </div>

    <div id="left-bottom">
      <div class="room" id="c304">Lab C304</div>
      <div class="room" id="c305">Lab C305</div>
      <div class="room" id="c317">Student Services Centre C317</div>
    </div>

    <div id="right-bottom">
      <div class="stair" id="stair1">Stair 1</div>

  </div>
  
<script src="script.js"></script>
</body>
</html>